{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La requête de page ne peut pas être localisée. Recommencez avec une autre URL
        ou <a href="{{ path('home') }}">retournez à la page accueil</a>.
    </p>
{% endblock %}